{% include "headers.html" %}
{% if comment.bg_image %}
    <header class="masthead" style="background-image: url('{{comment.bg_image}}')">
{% else %}
    <header class="masthead" style="background-image: url('https://img.freepik.com/free-vector/alien-planet-landscape-cosmic-background-deserted-coastline-with-mountains-view-glowing-cleft-stars-shining-spheres-space-extraterrestrial-pc-game-backdrop-cartoon-vector-illustration_107791-8012.jpg?t=st=1710166061~exp=1710169661~hmac=e5f30cfff4c6d45a617074f6385acae70b9f3853d1961c607c8491daa18385b7&w=1380')">
{% endif %}
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <span class="subheading"><h2><b>{{comment.head}}</b></h2></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="comment-thread">
        <div class="comment-container">
          <div class="user-info">
            <img src = "{{comment.comment_author.icon}}" class="user-icon" />
            <div class="username">{{comment.comment_author.username}}</div>
          </div>
          <div class="comment-content">{{ comment.body | safe}}</div>
          <div class="votes">
            <span class="upvote" onclick="vote(this)">▲</span>
            <span class="vote-count">0</span>
            <span class="downvote" onclick="vote(this)">▼</span>
          </div>
          <button class="toggle-replies-button" onclick="toggleReplies(this, 'new-comment')">+</button>
          <span class="reply-symbol" onclick="toggleReply(this)">↵</span>
          <div class="reply-input" style="display:none;">
            <textarea placeholder="Your reply" class="minimal-input"></textarea>
            <button onclick="saveReply(this)">Save</button>
          </div>
          <div class="replies-container">
            <!-- Nested replies will go here -->
          </div>
        </div>
      </div>
    
{% include "footer.html" %}
